<html>
    
<head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag 'word' %>
</head>
    
<body>

<table class="main">
<tr>

<td class="menu">
<h4>Statistics</h4>
<ul>
    <li><a href="/player/list">Characters</a></li>
    <li><a href="/title/list">Classes</a></li>
    <li><a href="/game/list">Game Log</a></li>
</ul>
</td>

<td class="content">
    
<h1><%= @page_title %></h1>
    
<%= @content_for_layout %>

</td>

</tr>
</table>

<div class="footer">
This site is powered by
<a href="http://www.rubyonrails.org">Ruby on Rails</a>.<br />
The game is programmed in
<a href="http://www.ruby-lang.org">Ruby</a>, using the
<a href="http://wiki.rubyonrails.com/rails/pages/ActiveRecord">ActiveRecord</a> part of
<a href="http://www.rubyonrails.org">Rails</a>.<br />
The character icons are from
<a href="http://www.wesnoth.org">the Battle for Wesnoth</a>.
</div>

</body>
    
</html>