<html>
    
<head>
    <title><%= @page_title %></title>
    <%= stylesheet_link_tag 'word' %>
</head>
    
<body>

<table>
<tr>

<td class="menu">
<h4>Statistics</h4>
<ul>
    <li><a href="/player/list">Characters</a></li>
    <li><a href="/title/list">Classes</a></li>
    <li><a href="/game/list">Game Log</a></li>
</ul>
</td>

<td class="content">
    
<h1><%= @page_title %></h1>
    
<%= @content_for_layout %>

</td>

</tr>
</table>

</body>
    
</html>