# reby.conf
# Reby Configuration File
#
# The structure of this configuration file is simply: one command per line.
# Any line that can't be parsed as a command will be ignored.
# The order of the commands is mostly irrelevant, except in the case of
# the connection settings, which must be specified before anything else.

# ----------------------------------------------------------------------------

# These connection parameters MUST be specified first in the conf file.

# The hostname or IP of the machine that the eggdrop is running on.
# In most cases, this is localhost.
host 127.0.0.1

# The TCP port that the eggdrop is listening on.
port 6060

# A username that the eggdrop knows.  You probably want to use the owner's
# username here, but you can use whatever user you like, as long as the
# user has the appropriate eggdrop permissions (e.g. .tcl evaluation, etc.)
username Pistos

# The password for the eggdrop user.
# Omitting this command will make Reby prompt for the password.
password yoursecretpassword

# The logging timestamp, as per Ruby's Time.strftime method.
timestamp %a %H:%M:%S |

# File to pipe stdout to.
log reby.log

# ----------------------------------------------------------------------------

# The load command is used to load all your Reby scripts (that is, your eggdrop
# scripts written in Ruby).

load rebysample.rb
#load word.rb
